<template name="productAdd">
	{{#autoForm collection="Products" id="insertProductForm" type="insert"}}
		{{> afQuickField name='name'}}
		{{> afQuickField name='price'}}
		{{> afQuickField name='vat' options=vatChoices template="metro"}}
		{{> afQuickField name='unit' options=unitChoices template="metro"}}
		{{> afQuickField name='type' options=typeChoices template="metro"}}
		{{> afQuickField name="picture"}}
		<div>
			<button class="btn waves-effect waves-light" type="submit" name="action">
				Ajouter
				<i class="mdi-content-send right"></i>
			</button>
		</div>
	{{/autoForm}}
</template>
