<template name="caddieShow">
	<h3>{{name}}</h3>
	{{#unless products }}
		Aucun produits
	{{else}}
		<table class="hoverable">
			<thead>
				<tr>
					<th data-field="name">Nom</th>
					<th data-field="price"><span class="hide-on-small-only">Prix HT</span><span class="hide-on-med-and-up">P.HT</span></th>
					<th data-field="price_vat"><span class="hide-on-small-only">Prix TTC</span><span class="hide-on-med-and-up">P.TTC</span></th>
					<th data-field="quantity"><span class="hide-on-small-only">Quantité</span><span class="hide-on-med-and-up">Qt.</span></th>
					<th data-field="total">Total</th>
				</tr>
			</thead>
			<tbody>
				{{#each products}}
					{{> productRow product=product quantity=quantity}}
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">Total</th>
					<th>{{totalPrice}}</th>
				</tr>
			</tfoot>
		</table>
	{{/unless}}
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large waves-effect waves-light yellow darken-2" href="{{pathFor 'caddieAddProduct'}}">
			<i class="material-icons">add</i>
		</a>
	</div>
</template>
