<template name="afQuickField_metro">
	{{#if isGroup atts=this}}
		{{> afObjectField_materialize }}
	{{else}}
		{{#if isFieldArray atts=this}}
			{{> afArrayField_materialize }}
		{{else}}
			{{> afFormGroup groupAtts}}
		{{/if}}
	{{/if}}
</template>

<template name="afFormGroup_metro">
	<div class="input-field radio-group">
		{{#if skipLabel}}
			{{> afFieldInput this.afFieldInputAtts}}
		{{else}}
			{{> afLabel_metro }}
			{{> afFieldInput this.afFieldInputAtts}}
		{{/if}}
		{{#if afFieldIsInvalid name=this.name}}
			<div class="red-text">
				<i class="mdi-alert-warning"></i> {{{afFieldMessage name=this.name}}}
			</div>
		{{/if}}
	</div>
	<br />
</template>

<template name="afRadioGroup_metro">
	<div class="af-radio-group" {{dsk}}>
		{{#each this.items}}
		<p>
			<input class="with-gap" type="radio" value="{{this.value}}" {{itemAtts}} />
			<label for="{{itemAtts.id}}">{{this.label}}</label>
		</p>
		{{/each}}
	</div>
</template>

<template name="afLabel_metro">
	<label for="{{atts.id}}" class="label-reset" {{atts}}>
		{{#if this.labelText}}
			{{this.labelText}}
		{{else}}
			{{afFieldLabelText name=this.name}}
		{{/if}}
	</label>
</template>

<template name="afFileUpload_metro">
	<label class="label-reset">Photo</label>
	<div class="form-group file-upload file-field input-field">
		{{#if file}}
			<div class="row">
				<div class="col s12">
					{{#if file.isUploaded}}
						{{> Template.dynamic template=previewTemplate data=previewTemplateData}}
						<div>
							<a href="#" class="js-remove"><i class="fa fa-times"></i> Retirer</a>
						</div>
					{{else}}
						<span>Envoi en cours...</span>
					{{/if}}
					<br />
					<br />
					<br />
				</div>
			</div>
		{{else}}
			<input class="file-path validate" type="text"/>
			<div class="btn">
				<span>FILE</span>
				<input type="file" class="hidden js-file" accept="{{atts.accept}}">
			</div>
		{{/if}}
		<input type="hidden" class="js-value" value="{{value}}" data-schema-key="{{schemaKey}}">
	</div>
</template>

<template name="fileThumbImg_metro">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-thumbnail img-rounded">
</template>
