<template name="afQuickField_metro">
	{{#if isGroup atts=this}}
		{{> afObjectField_materialize }}
	{{else}}
		{{#if isFieldArray atts=this}}
			{{> afArrayField_materialize }}
		{{else}}
			{{> afFormGroup groupAtts}}
		{{/if}}
	{{/if}}
</template>

<template name="afFormGroup_metro">
	<div class="input-field radio-group">
		{{#if skipLabel}}
			{{> afFieldInput this.afFieldInputAtts}}
		{{else}}
			{{> afLabel_metro }}
			{{> afFieldInput this.afFieldInputAtts}}
		{{/if}}
		{{#if afFieldIsInvalid name=this.name}}
			<div class="red-text">
				<i class="mdi-alert-warning"></i> {{{afFieldMessage name=this.name}}}
			</div>
		{{/if}}
	</div>
	<br />
</template>

<template name="afRadioGroup_metro">
	<div class="af-radio-group" {{dsk}}>
		{{#each this.items}}
		<p>
			<input class="with-gap" type="radio" value="{{this.value}}" {{itemAtts}} />
			<label for="{{itemAtts.id}}">{{this.label}}</label>
		</p>
		{{/each}}
	</div>
</template>

<template name="afLabel_metro">
	<label for="{{atts.id}}" class="label-reset" {{atts}}>
		{{#if this.labelText}}
			{{this.labelText}}
		{{else}}
			{{afFieldLabelText name=this.name}}
		{{/if}}
	</label>
</template>

<template name="afFileUpload_meteor">
	<label class="label-reset">Photo</label>
	<div class="form-group file-upload file-field input-field">
		{{#if fileUpload}}
			<div class="row">
				<div class="col s12">
					{{#with fileUpload}}
						{{> Template.dynamic template=template data=data}}
					{{/with}}
					<br />
					<a class="file-upload-clear waves-effect waves-light btn" file-input="{{name}}">
						<i class="mdi-action-highlight-remove left"></i> Retirer
					</a>
					<br />
					<br />
					<br />
				</div>
			</div>
		{{else}}
			<input class="file-path validate" type="text"/>
			<div class="btn">
				<span>FILE</span>
				<input id="file-{{name}}" file-input="{{name}}" type="file" accept="{{accept}}" />
			</div>
		{{/if}}
		<!-- <div class="">{{> afQuickField name=name}}</div> -->
		<input type="text" style="display:none;" data-cfs-collection="{{this.atts.collection}}" {{fileUploadAtts}} value="{{value}}">
	</div>
</template>

<template name="fileThumbImg_meteor">
	<img src="{{src}}" alt="" class="img-fileUpload-thumbnail img-thumbnail img-rounded">
</template>
